.listContainer {
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.transactionListContainer {
	width: 500px;
	height: 500px;
	overflow-y: auto;
}

.transactionContainer {
	border-style: solid;
	border: 2px;
	border-color: black;
	display: flex;
}

.transactionAmount {
	margin-left: 5px;
	margin-right: 5px;
}

.transactionDebitCredit {
	display: flex;
}
