.ReportsContainer {
	width: 1000px;
	margin: 0 auto;
}

.navBar {
	display: flex;
	justify-content: flex-end;
	width: 700px;
	margin: 0 auto;
	margin-top: 5%;
}

.navBar button{
	border:none;
	font-size: 13px; 
	border: 1px solid;
	border-color: white;
	outline: none;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.default {
	background-color: #F9971C;
	color: white;
}

.active {
	background-color: white;
	color: black;
}

.ModeSummaryContainer {
	width: 700px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.SummaryContainer {
	display: flex;
	width: 100%;
	margin: 0 auto;
	height: 60%;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.SummaryContainer p {
	color: #3F3F3F;
	margin: 0;
}

.activitySummaryContainer {
	margin: 0 auto;
	width: 800px;
}

.listContainer {
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #6D728F;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.listContainer h1 {
	color: white;
	margin: 0;
	padding-left: 20px;
	padding-bottom: 20px;
}

.transactionListContainer {
	border-color: #D7D6D4;
	width: 100%;
	height: 300px;
	overflow-y: auto;
}

.DetailContainer {
	display: flex;
	justify-content: space-between;
}

.Circle {
	color: white;
	border-radius: 150px;
	width: 80px;
	height: 80px;
	font-size: 12px;
	text-align: center;
	background-color: #F9971C;
	border: 4px solid;
	border-color: white;
	transform: translate(-15px, -20px);
}

.shadow {
   -moz-box-shadow:    inset 0 3px 6px rgba(0,0,0,0.36);
   -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,0.36);
   box-shadow:         inset 0 3px 6px rgba(0,0,0,0.36);
}

.transactionContainer {
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border: 1px solid;
	border-color: #F9F9F9;
	display: flex;
	justify-content: space-between;
}
.transactionLeft {
	display: flex
}
.transactionContainer:nth-child(odd) {
  background-color: #F9971C;
}
.transactionContainer:nth-child(even) {
  background-color: #E08719;
}

.transactionDate {
	color: white;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	border-right: 1px solid;
	border-color: #F9F9F9;
	padding-right: 5px;
}

.transactionAmount {
	margin-left: 10px;
	margin-right: 5px;
}

.transactionDebitCredit {
	display: flex;
	width: 180px;
	border-left: 1px solid;
	border-color: white;
}

.transactionDebitCredit p{
	margin: 0
}

.transactionCredit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	border-right: 1px solid;
	border-color: white;
}

.transactionDebit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.transactionTotalContainer {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.transactionTotalContainer p {
	color: white;
}

.transactionTotalLabel {
	margin-left: 10px;
}

.transactionTotal {
	display: flex;
	width: 180px;
}

.transactionTotalCredit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.transactionTotalDebit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;	
}

.slider-decorator-2 {
	color: 'red';
}

.MonthButtonsContainer {
	transform: translateY(-90px);
	width: 688px;
	height: 25px;
	display: flex;
	justify-content: space-between;
}

.PrevButton {
	width: 15%;
	background-color: #6D728F;
  border: none;
  outline: none;
  color: white;
  border-radius: 3px;
}

.NextButton {
	width: 15%;
	background-color: #6D728F;
  border: none;
  outline: none;
  color: white;
  border-radius: 3px;
}

.Date p {
	padding-right: 4px;
	padding-left: 4px;
}

.Header {
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	border-style: solid;
	border: 1px solid;
	border-color: #F9F9F9;
	background-color: gray;
	display: flex;
	justify-content: space-between;
}

.HeadingCard {
	width: 80%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 13px;
	padding-right: 13px;
	margin: 2px;
	padding-bottom: 3px;
}

.Income {
	background-color: #e1e2e8;
	margin-left: 5px;
}

.Spending {
	background-color: #e1e2e8;
}

.Net {
	background-color: #e1e2e8;
	margin-right: 5px;
}

.underline p {
	text-decoration: underline;
}

.spinner {

}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #5B5B5B;
  z-index: 9999;
  background-size: cover;
  background-size: cover;
	background-repeat: no-repeat;
}
